@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TodoListWeb</h1>
    <p class="lead">TodoListWeb is a simple Web Application with an API to manage a personal Todo List</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To Do List: start managing your To Do List</p>        
    </div>
    <div class="col-md-4">
        <h2>Claims</h2>
        <p>Display the claims the user has</p>        
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>