<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://sts.setspn.be.eu.org/{0}" />
    <add key="ida:Tenant" value="adfs" />
    <add key="ida:ClientId" value="d6950b3f-3d71-48cf-ad7e-a4760618f0f1" />
    <add key="ida:RedirectUri" value="http://todolistwpf" />
    <add key="todo:TodoListResourceId" value="https://todolistapi.setspn.be.eu.org" />
    <add key="todo:TodoListBaseAddress" value="https://todolistapi.setspn.be.eu.org" />
  </appSettings>
</configuration>